<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}The Site{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/62ce21f0ac.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.0/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.0/datatables.min.js"></script>
    {% load static %}
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg bg-primary flex-lg-nowrap">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><i class="fa-solid fa-house"></i>&nbsp;Home</a>
          <img src="{% static 'logo.png' %}" class="img-fluid img-thumbnail" alt="canal-logo">
          <div class="btn-group" role="group" aria-label="Basic example">
            <a class="btn btn-warning float-end" href="/refresh" role="button"><i class="fas fa-sync-alt"></i></a>
            <a class="btn btn-secondary float-end" href="/admin" role="button"><i class="fas fa-user-cog"></i></a>
          </div>
        </div>
      </nav>
    </header>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
    {% block js %}
    {% endblock %}
  </body>
  <footer class="fixed-bottom bg-dark">
    <div class="container">
      <div class="row">
        <div class="col text-white">made by Potato</div>
      </div>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </html>